@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Playpen+Sans&family=Roboto&family=Source+Code+Pro&display=swap');

body{
    box-sizing: border-box;
    background-color: #00ffff;
    background-image: url('img/vvww.png');
    background-size: cover;
    padding: 0%;
    margin: 0%;
}

h1{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    color: #eeeeee;
    text-shadow: 2px 3px 5px #888888;
    font-size: 50px;
    padding: 0%;
    margin: 0%;
}   

a {
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(#00000099,#00000000);
}

#title{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding: 0%;
    margin: 0%;
}

#aboutme {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0%;
    margin: 0%;
}

#social{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

#pfp{
    border: 3px solid #000000;
    border-radius: 100%;
    width: 256px;
    height: 256px;
    align-self: center;
    padding: 0%;
    margin: 0.5%;
}

#gh {
    background-image: linear-gradient(#ffffff,#bbbbbb);
}

#ri {
    background-image: linear-gradient(#eeaa00,#ff7700);
}

#in{
    background-image: linear-gradient(#ee00aa,#ff0077);
}

#im{
    background-image: linear-gradient(#aa00ee,#7700ff);
}

#ds {
    background-image: linear-gradient(#00aaee,#0077ff);
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #00000099;
    border-radius: 10px;
    padding: 0%;
    margin: 1%;
}

.aboutme{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #b7ff00;
    text-shadow: 2px 3px 5px #9999ff;
    background-color: #000000aa;
    border-radius: 10px;
    padding: 0.25%;
    margin: 0.5%;
}

.social{
    color: #222222;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    border: #000000 solid 2px;
    border-radius: 15px;
    padding: 0.5%;
    margin: 0.5%;
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.social:hover{
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
}

.linkicon {
    display: inline;
    width: 32px;
    height: 32px;
    padding: 0%;
    margin: 0%;
}

.desc{
    padding: 0%;
    margin: 0%;
    display: inline;
    align-self: center;
}

.accent{
    display: inline;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color: #aaffee;
    text-shadow: 3px 3px 5px #111111;
    padding: 0%;
    margin: 0%;
}

.link {
    color: #ffb700;
    text-shadow: 5px 5px 5px #000000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0.75%;
    transition: all 0.5s;
}

.link:hover {
    color: #aaff00;
    text-shadow: 6px 6px 5px #666666;
}