@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Ubuntu&display=swap');

html,body{
    box-sizing: border-box;
    background-color: #00aaaa;
    background-image: url('./img/bg.webp');
    background-size: cover;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 3px 5px #808080;
    font-size: 7vh;
    padding: 0%;
    margin: 0%;
    align-self: center;
}   

a {
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
}

#social{
    padding: 0%;
    margin: 0% 10vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

#pfp{
    border: 2px dashed #101010;
    border-radius: 100%;
    width: 30vh;
    height: 30vh;
    align-self: center;
    padding: 0%;
    margin: 0%;
}

#aboutme{
    padding: 0%;
    margin: 0% 7vw;
    text-wrap: balance;
    text-align: center;
    font-size: 3.5vh;
    line-height: 4vh;
    font-family: 'Ubuntu', sans-serif;
    color: #40ee60;
    text-shadow: 3px 3px 3px #010101;
    border: #000000 solid 1px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.25s;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: #000000aa;
    backdrop-filter: blur(5px);
    border: #000000 1px solid;
    border-radius: 10px;
    padding: 0%;
    margin: 0% 3vw;
}

.ext {
    color: #d0ef11;
    text-shadow: 2px 3px 4px #101010;
    transition: all 0.25s;
}

.ext:hover{
    color: #aa4477;
    text-shadow: 3px 2px 4px #010101;
}

.social{
    padding: 0%;
    margin: 2vh 2vw;
}

.linkicon {
    width: 6vh;
    height: 6vh;
    padding: 0%;
    margin: 0%;
    filter: invert(25%) sepia(100%) saturate(7500%) hue-rotate(315deg) brightness(105%) contrast(105%) opacity(100%) drop-shadow(8px 8px 5px #010101);
    transform: none;
    transition: all 0.5s;
}

.linkicon:hover{
    filter: invert(60%) sepia(90%) saturate(1420%) hue-rotate(70deg) brightness(100%) contrast(100%) opacity(90%) drop-shadow(8px 8px 5px #101010);
    transform: scale(125%);
}

.footer {
    color: #ffb700;
    text-shadow: 5px 5px 5px #000000;
    font-size: 2vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 0%;
    margin: 0.75%;
    transform: none;
    transition: all 0.5s;
}

.footer:hover {
    color: #aaff00;
    transform: scale(110%);
    text-shadow: 6px 6px 5px #666666;
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 12vw;
        line-height: 12vw;
        padding: 0%;
        margin: 0%;
    }

    #aboutme {
        font-size: 5.5vw;
        line-height: 6vw;
        text-align: center;
        padding: 0%;
        margin: 0% 1vw ;
    }
    
    #pfp {
        width: 50vw;
        height: 50vw;
        margin: 0%;
    }
    
    #social {
        margin: 0%;
    }

    #footer{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0%;
        margin: 0% 4vw;
    }

    .ext {
        font-size: 5.5vw;
        line-height: 5.5vw;
        font-family: 'Ubuntu', sans-serif;
        transition: all 0.5s;
    }

    .social {
        margin: 1vh 3vw;
    }

    .footer{
        font-size: 7vw;
        text-align: center;
        padding: 0%;
        margin: 1vh 4vw;
    }

    .linkicon {
        width: 10vw;
        height: 10vw;
    }
}