@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Ubuntu&display=swap');

html,body{
    box-sizing: border-box;
    background-color: #00aaaa;
    background-image: url('./img/bg.webp');
    background-size: cover;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 3px 5px #888888;
    font-size: 7vh;
    padding: 0%;
    margin: 0%;
    align-self: center;
}   

a {
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
}

#social{
    padding: 0%;
    margin: 1vh 10vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

#pfp{
    border: 3px solid #000000;
    border-radius: 100%;
    width: 30vh;
    height: 30vh;
    align-self: center;
    padding: 0%;
    margin: 0%;
}

#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0%;
    margin: 1vh 7vw;
    text-wrap: balance;
    text-align: center;
    font-size: 3.5vh;
    font-family: 'Ubuntu', sans-serif;
    color: #60cdef;
    text-shadow: 3px 3px 3px #010101;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.25s;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: #000000aa;
    backdrop-filter: blur(5px);
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 0%;
    margin: 0% 3vw;
}

.social{
    padding: 0%;
    margin: 2vh 2.5vw;
}

.linkicon {
    width: 6vh;
    height: 6vh;
    padding: 0%;
    margin: 0%;
    transition: all 0.5s;
    filter: invert(10%) sepia(100%) saturate(7380%) hue-rotate(245deg) brightness(110%) contrast(125%) drop-shadow(8px 8px 5px #000000);
}

.linkicon:hover{
    filter: invert(80%) sepia(10%) saturate(5255%) hue-rotate(100deg) brightness(100%) contrast(110%) drop-shadow(8px 8px 5px #000000);
}

.footer {
    color: #ffb700;
    text-shadow: 5px 5px 5px #000000;
    font-size: 2vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 0%;
    margin: 0.75%;
    transition: all 0.5s;
}

.footer:hover {
    color: #aaff00;
    text-shadow: 6px 6px 5px #666666;
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 12vw;
        line-height: 13vw;
        padding: 0%;
        margin: 0%;
    }
    
    #aboutme {
        font-size: 5.5vw;
        line-height: 5.5vw;
        text-align: center;
        padding: 0%;
        margin: 0%;
    }
    
    #pfp {
        width: 50vw;
        height: 50vw;
        margin: 0%;
    }
    
    #social {
        margin: 0%;
    }

    #footer{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0%;
        margin: 1vh 4vw 0% 4vw;
    }

    .social {
        margin: 1vh 3vw;
    }

    .footer{
        font-size: 6vw;
        text-align: center;
        padding: 0%;
        margin: 0.5vh 0%;
        width: 100%;
    }

    .linkicon {
        width: 12vw;
        height: 12vw;
    }
}